@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
h1{
    font-size: 10vw;
}
h2{
    text-transform: uppercase;
    font-size: 6vw;
    margin: 2vw 0 0 2vw;
}
p{
    font-size: 4.8vw;
    margin: 1vw 7vw 0 2vw;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;

}
.bg-orange{
    background-color: #f98d29;
}
    .bg-orange h2{
        color: white;
    }
    .bg-orange p{
        color: white;
    }
    .bg-orange .fas{
        color: white;
    }
    .bg-orange a{
        color: white;
    }
.bg-blue{
    background-color: #003DA7;
}
    .bg-blue h2{
        color: white;
    }
    .bg-blue p{
        color: white;
    }
.bg-grey{
    background-color: #505050;
}
.bg-grey h2{
    color: white; 
}
.bg-grey .fas{
    color: white;
}
.bg-darkgrey{
    background-color: #425363;
}
    .bg-darkgrey h2{
        color: white;
    }
    .bg-darkgrey p{
        color: white;
    }
.bg-lightgrey{
    background-color: #c9c8c7;
}
    .bg-lightgrey h2{
        color: #425363;
    }
    .bg-lightgrey p{
        color: #425363;
    }
    .bg-lightgrey .fas{
        color: #425363;
    }
    .bg-lightgrey a{
        color: #425363;
    }
.bg-teal{
    background-color: #5d7e95;
}
    .bg-teal h2{
        color: white;
    }
    .bg-teal p{
        color: white;
    }
    .bg-teal a{
        color: white;
    }
.bg-lightlightgrey{
    background-color: #e6e6e6;
}
.bg-darkdarkgrey{
    background-color: #2C302E;
}
.bg-darkdarkgrey h2{
    color: white;
    margin: .7vw 2vw;
    padding-top: 1.2vw;
}
.bg-darkdarkgrey .fas{
    color: white;
    margin: 2vw 0vw 1vw 2vw;
}
.bg-darkdarkgrey ul{
    margin-bottom: 0;
}
.bg-darkdarkgrey li{
    color: white; 
}
.bg-white{
    background-color: white;
}
    .bg-white h2{
        background-color: #f98d29;
        color: white;
        margin: 1vw 0 1vw 0;
        padding: .3vw 1vw;
    }
    .bg-white h3{
        margin-top: 1vw;
        font-size: 2.2vw;
        line-height: .5;
    }
    .bg-white p{
            font-size: 1.5vw;
            color: black;
            margin-top: 0;
    }
    .bg-white .dropdown-caret{
        color: white;
        margin:  1vw 1vw 2vw 2vw;
    }
.site-crown{
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    height: 2vh;
}
.site-crown .fas{
    background-color: #425363;
    width: 5.5vw;
    color: white;
    font-size: 5.5vw;
    border-radius: 50%;
    line-height: 6vw;

}
.header-contents{
    display: flex;
    width: 94vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px auto;
}
.img-md{
    float: left;
    margin-right: 1vw;
}

.logo{
    margin: 1vw 1vw 0 1vw;

}
.mobile-icons{
    list-style-type: none;
    padding-left: 0px;
    margin: 2vw 1vw 0 0;
}
.mobile-icons li{
    display: inline-block;
    height: 10vw;
    width: 10vw;
    margin-left: 1.5vw;
    background-color: #003DA7
}
.dropdown-md{
    overflow-y: hidden;
    height: 13vw;
    margin-bottom: 2vw;
    transition: height 600ms ease;
}
.dropdown-active-md{
    height: 42vw;
    transition: height 600ms ease;
}
.dropdown-lg{
    height:13vw;
    margin-bottom: 2vw;
    overflow-y: hidden;
    transition: height 600ms ease;
}
.dropdown-active-lg{
    height: 93vw;
    transition: height 600ms ease;
}
.dropdown-title{
    display: flex;
    cursor: pointer;
}
.dropdown-caret{
    font-size: 7vw;
    margin: 2vw 0vw 1vw 2vw;
    transform: rotateZ(-90deg);
    transition: transform 350ms ease;
}
.dropdown-caret-side-menu{
    font-size: 7vw;
    margin: 2vw 0vw 1vw 2vw;
    transform: rotateZ(-90deg);
    transition: transform 350ms ease;
}
.dropdown-caret-active{
    transform: rotateZ(0deg);
    transition: transform 350ms ease;
}
.mobile-icons li:hover{
    opacity: .6;
}
.mobile-icons li{
    cursor: pointer;
}

.search-bar{
    float: right;
    position: relative;
    top: .7vw;
    margin-top: 0;

}
.search-bar input[type=text] {
    padding: .4vw;
    margin-top: 1vw;
    font-size: 1vw;
    border: solid .1vw black;
    border-right: none;
  }
.search-bar button{
    float: right;
    padding: .49vw;
    margin-top: 1vw;
    margin-right: 1vw;
    background: #425363;
    color: white;
    font-size: 1vw;
    border: none;
    cursor: pointer;
}
.desktop-search-and-nav{
    display: flex;
    flex-direction: row;
}
    .desktop-search-and-nav ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding-left: 0px;
        margin-top: 0;
    }
    .desktop-search-and-nav li{
        background-color: #f98d29;
        color: white;
        margin-left: 1vw;
        height: 4vw;
        width: 4vw;
        line-height: 1.3vw;
    }
    .desktop-search-and-nav li:hover{
        opacity: .6;
    }
    .desktop-search-and-nav li p{
        font-size: .6vw;
        margin: .2vw 0 0 .2vw;
        text-transform: uppercase;
    }

    .desktop-search-and-nav .fas{
        font-size: 2.3vw;
        margin: .5vw 0 0 1vw;
    }
        #plane{
            margin: .5vw 0 0 .6vw;
        }
        #clock{
            margin: .5vw 0 0 .8vw;
        }
.nav-icon-link{
    color: white;
}
.nav-icon-link:hover{
    color: white;
}
.mobile-menu-icons{
    color: white;
    font-size: 7vw;
    margin: 1.5vw 1.8vw;
}
.mobile-nav-divider{
    height: 3px;
    width: 100%;
    padding: 0px 10px;
}
.mobile-sub-body{
    width: 94vw;
    justify-content: center;
}
.mobile-dropdowns-section{
    list-style: none;
    padding: 0px;
    margin: 0px auto;
}
.mobile-dropdown{
    margin: 0px 0px 20px 0px;
}
.mobile-dropdown:before{
    content: '\f0da';
    font-family: 'FontAwesome';
    color: white;
    float: left;
    margin: -5px 8px 0px 12px;
    font-size: 30px; 
  }
.bg-lightgrey:before{
    color: #425363;
}
.mobile-dropdown h2{
    padding-bottom: 4px;
    padding-top: 4px;
    margin-top: 10px;
}
.navigation-section{
    margin-bottom: 10px;
}
.desktop-navigation{
    width: 94vw;
    margin: auto;
}
    .desktop-navigation ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: .5vw 0;
        margin: 0;
    }
    .desktop-navigation li{
        margin-right: 2vw;
    }
.navigation-link{
    color: black;
    text-transform: uppercase;
    font-size: 2.2vw;
    font-weight: 600;
}
.navigation-link:hover{
    color: black;
    opacity: .4;
}
.meta-text{
    float: right;
    font-size: 2.5vw;
    margin: 1vw;
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    color: darkgrey;
}
.read-more-link{
    position: absolute; 
    bottom: 1vw;
    right: 1vw;
    font-size: 1.3vw;
    color: #425363;
    font-weight: 700;
}
.read-more-link:hover{
    color: #425363;
    opacity: .6;
}
.welcome-user{
    float: right;
    position: relative;
    bottom: 3.25vw;
    padding: .97vw 0;
    border-left: .2vw solid white;
    border-right: .2vw solid white;
}
    .welcome-user p{
        font-size: .9vw;
        margin: 0.8vw .5vw;
    }
.main-body{
    display: flex;
    width: 94vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3vw;
    padding-bottom: 1vw;
}

.content-bundle{
    width: 94vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content-block{
    position: relative;
    margin: 2vw 0;
}
.content-lg{
    width: 94vw;
    flex-grow: 1; 
    height: 86vw;
}
.content-md{
    width: 94vw;
    flex-grow: 1;
    height: 40vw;
}
.side-menu{
    border-top: 2vh solid #425363;
    width: 80vw;
    height: 98vh;
    background-color: #505050;
    z-index: 1;
    position: absolute;
    right: -100vw;
    top: 0vh;
    transition: right 600ms ease;
}   
.side-menu-dropdown-large{
    background-color: #505050;
    height: 18vw;
    display: flex;
    flex-direction: row;
    border-bottom: 1vw solid #2C302E;
}
.side-menu-dropdown-large h2{
    margin: 5vw;
}
.side-menu-dropdown-large .fas{
    margin: 5vw 0 0 25vw;
    font-size: 8vw;
}
.side-menu-dropdown-small{
    background-color: #505050;
    height: 10vw;
    display: flex;
    flex-direction: row;
}
.side-menu-dropdown-small h2{
    margin-top: 1.5vw;
}
.side-menu-dropdown-content{
    padding: .5vw 0;
    height: 0vw;
    overflow-y: hidden;
    transition: height 600ms ease;
}
.side-menu-nav-active{
    height: 125px;
    transition: height 600ms ease;
}
#side-menu-nav-links ul{
    list-style-type: square;
}
#side-menu-my-links ul{
    list-style-type: square;
}
.side-menu-mylinks-active{
    height: 30px;
    transition: height 600ms ease;
}
.side-menu-shortcuts-active{
    height: 39vw;
    transition: height 600ms ease;
}
.side-menu-icons-list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    padding-left: 0px;
    margin-top: 0;
    padding: 2vw 14vw;

}
.side-menu-icons-list li{
    background-color: #f98d29;
    color: white;
    margin: 1vw 1vw;
    height: 15vw;
    width: 15vw;
    line-height: 4vw;
}
.side-menu-icons-list li:hover{
    opacity: .6;
}
.side-menu-icons-list p{
    font-size: 2.2vw;
    margin: 1vw 0 0 .4vw;
    text-transform: uppercase;
    color: white; 
  
}
.side-menu-icons-list .fas{
    font-size: 9vw;
    margin:2vw 0 0 3vw;
}
#side-clock{
    margin-left: 2.5vw;
}
#side-plane{
    margin-left: 1.5vw;
}
.menu-active{
    right:0vw;transition:right 600ms ease;
}
.site{
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.site-body{
    position: relative;
    right: 0px;
    transition: right 600ms ease;
}
.site-body-active{
    right:80vw;transition:right 600ms ease;
}
.content-sm{
    width: 44vw;
    flex-grow: 0;
    height: 40vw;
}
.content-sm p{
    font-size: 3vw;
}
.sm-left{
    margin-right: 0;
}
.sm-right{
    margin-left: 0;
}
.event-section-title{
    margin-bottom: 2vw;
    padding: 1vw 0;
    background-color: #f98d29;
}
.img-recently-signed{
    width: 6.8vw;
    margin: 0vw 1vw 1vw 0vw;
    float: left;
}
.recently-signed-content{
    overflow: auto;

}
    .recently-signed-content p{
        font-size: 1.5vw;
        color: black;

    }
    .recently-signed-content h3{
        margin-top: 1vw;
        font-size: 2.2vw;
        line-height: .5;
    }
.upcoming-event{
    overflow: auto;
}
.date-block{
    height: 7.5vw;
    width: 7.5vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
    background-color: #425363;
    float: left;
    text-align: right;
}
    .date-block h4{
        color: white;
        font-size: 8vw; 
        margin: 2vw .3vw 0 0;
        line-height: 12vw;
    }
    .date-block h5{
        color: white;
        font-size: 4vw;
        margin: 0vw .5vw;
        line-height: 0vw;
    }
.event-details h3{
    margin-top: 1vw;
}
#content-block-two{
    flex-direction: row;
    align-content: space-between;
}
#content-block-four ul{
    list-style-type: square;
    padding: 1vw 0 0 3.5vw;
}
#content-block-four li{
    color: #425363;
    font-size: 1.5vw;
    text-decoration: underline;
    margin-bottom: 1vw;
}

.skyline-section{
    width: 94vw;
    margin: auto;
    padding-top: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.skyline-image{
    width: 355px;
}
.img-skyline{
    position: relative;
    bottom: -1px;
}
.footer-divider{
    height: 20px;
}
.footer-content{
    padding-top: 10px;
}
.links-list{
    list-style-type: none;
    color: #f98d29;
    text-transform: uppercase;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: baseline;
    padding-left: 0px;
}
.links-list li{
    margin: 0px 10px;
}
.footer-links-section{
    width: 94vw;
    margin: auto;
}
.social-links{
    display: flex;
    flex-direction: row;
}
.social-links .fab{
    font-size: 23px;
    margin: 0px 5px;
}
.fa-twitter{
    color: #1DA1F2;
}
.fa-youtube{
    color: #ff0000;
}
.fa-google-plus{
    color: #d34836;
}

@media only screen and (min-width: 370px) {
}
/*600px and up) */
@media only screen and (min-width: 600px) {}
/*767.5px and up) */
@media only screen and (max-width: 650px) {
 
    #content-block-four ul{
        padding: 3vw 0px 0 6.5vw;
    }
    .bg-lightgrey a{
        font-size: 3.2vw;
    }
    .bg-white h3{
        margin-top: 3vw;
        font-size: 5vw;
    }
    .bg-white p{
        font-size: 3.5vw;
        line-height: 5vw;
    }
    .date-block{
        height: 17vw;
        width: 17vw;
    }
    .navigation-section{
        display: none;
    }
    .img-recently-signed{
        width: 24vw;
        margin: 2vw 1vw 1vw 0vw;
    }
    .read-more-link{
        font-size: 2.5vw;
    }
    .recently-signed-content p{
        font-size: 3.5vw;
    }
    .upcoming-event{
        margin-bottom: 2vw;
    }
}
/*768px and up) */
@media only screen and (min-width: 651px) {
    h1{
        font-size: 5vw;
    }
    h2{
        font-size: 3vw;
        margin: 1vw 0 0 1vw;
    }
    p{
        font-size: 2.2vw;
        margin: 0.2vw 2vw 0 1vw;
    }
    #side-plane{
        margin-left: .7vw;
    }
    #side-clock{
        margin-left: 1.3vw;
    }
    .content-sm p{
        font-size: 1.5vw;

    }
    .date-block h4{
        font-size: 4vw;
        margin: 2.5vw .3vw 0 0;
        line-height: 3vw;
    }
    .date-block h5{
        font-size: 2vw;
        line-height: 1vw;
        margin-top: .5vw;
        margin-left: 2.7vw;
    }
    .dropdown{
        height: 40vw;
    }
    .dropdown-caret{
        display: none;
    }
    .dropdown-md{
        height: 19vw;
        transition: height 0ms ease;
        margin-bottom: 0vw;
    }
    .dropdown-lg{
        height: 42vw;
        transition: height 0ms ease;
        margin-bottom: 0vw;
    }
    .dropdown-caret-side-menu {
        font-size: 4vw;
        margin: 1.5vw 0vw 1vw 1vw;
    }
    .event-section-title{
        padding: 0px;
        margin-bottom: 2vw;
    }
    .bg-white h2{
        margin: 0;
        padding: .3vw 1vw;
    }
    .meta-text{
        font-size: 1.2vw;
        margin: 0;
    }
    .header-contents{
        width: 92vw;
    }
    .mobile-sub-body{
        display: none;
    }
    .mobile-nav-divider{
        display: none;
    }
    .main-body{
        margin: 1vw 3vw;
        width: 94vw;
    }
    .content-lg{
        width: 44vw;
        height: 40vw;
        flex-grow: 0;
        margin: 1vw;
    }
    .content-md{
        width: 44vw;
        flex-grow: 0;
        height: 19vw;
        margin: 0vw;
    }
    .desktop-navigation{
        width: 90vw;
    }
    .img-recently-signed{
        width: 11vw;
    }
    .site-crown{
        height: 1vh;
    }
    .site-crown .fas{
        width: 3vw;
        font-size: 3vw;
        line-height: 3vw;  
    }
    .side-menu{
        border-top: 1vh solid #425363;
        width: 40vw;
        height: 98vh;
    }
    .side-menu-navigation{
        display: none;
    }
    .side-menu-dropdown-content{
        padding: .33vw 0;
    }
    .side-menu-dropdown-small {
        height: 6vw;
    }
    .side-menu-dropdown-small h2 {
        margin-top: 1.5vw;
    }
    .side-menu-dropdown-large{
        height: 14vw;
        border-bottom: .5vw solid #2C302E;
    }
    .side-menu-dropdown-large .fas {
        margin: 5vw 0 0 6vw;
        font-size: 4vw;
    }
    .side-menu-nav-active {
        height: 17vw;
    }
    .side-menu-mylinks-active{
        height: 30px;
    }
    .side-menu-shortcuts-active{
        height: 26vw;
    }
    .side-menu-icons-list{
        padding: 2vw 3vw;
    }
    .side-menu-icons-list li{
        height: 9vw;
        width: 9vw;
    }
    .side-menu-icons-list p{
        font-size: 1.3vw;
        margin: 0.2vw 0 0 .4vw;
        line-height: 1vw;
    }
    .side-menu-icons-list .fas{
        font-size: 6vw;
        margin: 1vw 0 0 2vw;
    }
    .site-body-active{
        right:40vw;transition:right 600ms ease;
    }
    .content-sm{
        height: 19vw;
        width: 20.5vw;
    }
    .content-bundle{
        width: 44vw;
        flex-grow: 0;
        margin: 1vw;
        height: 40vw;
    }
    .footer-links-section{
        width: 94vw;
    }
    .skyline-section{
        width: 94vw;
        justify-content: flex-end;
    }
    .skyline-image{
        width: 500px;
 
    }
    .mobile-menu-icons{
        font-size: 4vw;
        margin: .8vw 1vw;
    }
    .mobile-icons{
        margin: 1vw 1vw 0 0;
    }
    .mobile-icons li{
        height: 5.5vw;
        width: 5.5vw;
    }
    #content-block-one{
        order: 1;
    }
    #content-block-two{
        order: 3;
    }
    #content-block-three{
        order: 2;
    }
    #content-block-four{
        order: 4;
    }
    #content-block-five{
        order: 5;
    }
    #content-block-six{
        order: 6;
    }
} 
/*1130 and under) */
@media only screen and (max-width: 1000px) {
    .desktop-only{
        display: none;
    }    
    .welcome-user{
        display: none;
    }
}
/*1130px and up) */
@media only screen and (min-width: 1001px) {
    h1{
        font-size: 3.5vw;
    }
    h2{
        font-size: 1.6vw;
        margin: .8vw 0 0 .8vw;
    }
    p{
        font-size: 1.4vw;
        margin: 0.2vw 2vw 0 .8vw;
    }
    .bg-white h3{
        font-size: 1.3vw;
    }
    .bg-white p{
        font-size: 1vw;
    }
    .mobile-only{
        display: none;
    }
    .navigation-link{
        font-size: 1.5vw;
    }
    .desktop-navigation{
        width: 81vw;
    }
        .desktop-navigation ul{
            justify-content: flex-start;
        }
    .header-contents{
        width: 79vw;
    }
    .main-body{
        width: 94vw;
        margin: 0vw 3vw;
    }
    .content-region{
        width: 25vw;
        height: 25vw;
        margin: 1vw;
    }
    .content-lg{
        width: 25vw;
        height: 25vw;
        margin: 1vw;
    }
    .content-md{
        width: 25vw;
        height: 11.7vw;
    }
    .content-sm{
        width: 11.5vw;
        height: 11.7vw;
        margin: 1.5vw 0;
    }
        .content-sm p {
            font-size: 1vw;
            margin: .2vw 0 0 .4vw
        }
    .date-block{
        height: 4.5vw;
        width: 4.5vw;
        margin-bottom: .8vw;
        margin-right: .8vw;
    }
    .date-block h4{
        font-size: 2.5vw;
        margin: 0.7vw .1vw .2vw ;
    }
    .date-block h5{
        font-size: 1.3vw;
        margin: -.5vw 0.1vw
    }
    .desktop-navigation{
        width: 79vw;
    }
    .dropdown-md{
        height: 11.75vw
        }
    .dropdown-lg{
        margin: 0vw 1vw 0vw 0vw;
        height: 26vw;
        width: 26vw;
    }
    .event-section-title{
        margin-bottom: 1.5vw;
        }
    .event-details h3{
        margin-top: .5vw;
    }
    .logo{
        margin: 1vw 0vw;
    }

    .recently-signed-content h3{
        font-size: 1.3vw;
        margin-top: .5vw;
    }
    .recently-signed-content p{
        font-size: 1vw;
    }
    .img-recently-signed{
        width: 6.8vw;
        margin: 0vw .8vw .8vw 0vw;
    }
    .side-menu{
        display: none;
    }
    .site-body-active{
        right: 0vw;
        transition: right 0ms ease;
    }
    .site-crown{
        height: 1vh;
    }
    .site-crown .fas{
        width: 2vw;
        font-size: 2vw;
        line-height: 1.8vw;  
    }
    .skyline-section{
        width: 80vw;
        justify-content: space-between;
    }
    .skyline-image{
        width: 550px;
    }
    .footer-links-section{
        width: 94vw;
    }
    .social-links{
        align-self: flex-end;
    }
    .links-list{
        padding-left: 30px;
    }
    .meta-text{
      bottom: .5vw;
      right: 0.5vw;
      font-size: .9vw;
    }
    .read-more-link{
        bottom: .5vw;
        right: 0.5vw;
        font-size: .9vw;
    }
    .welcome-user{
        bottom: 3.2vw;
        padding: 0.1vw;
        height: 3.2vw;
    }
    #content-block-one{
        order: 2;
    }
    #content-block-two{
        order: 5;
    }
    #content-block-three{
        order: 3;
    }
    #content-block-four{
        order: 1;
    }
        #content-block-four ul{
            padding: .5vw 0 0 3vw;
        }
        #content-block-four li{
            font-size: .8vw;
        }
    #content-block-five{
        order: 4;
    }
    #content-block-six{
        order: 6;
    }
} 